.wrapper {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
}

.icon {
    object-fit: contain;
    max-width: 100%;
    height: "auto" 
}

/* tablet and up */
@media (min-width: 36rem) {
    .icon {
        max-width: 50%;
        width: 45%;
    }
}

/* pc */
@media (min-width: 62rem) {
    .icon {
        max-width: 37%;
        width: 37%;
    }
}