@font-face {
  font-family: 'Thicker';
  src: url('/public/fonts/Thicker-Regular-trial.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ThickerUprigth';
  src: url('/public/fonts/Thicker-Regular-Upright-trial.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

:root {
  /*font-family: var(--fontRoboto), var(--fontMerriweather);*/

      /* Breakpoints cannot be used in media queries,
       but it can be usefull to be sure to use same values in the whole project */
  --tablet-and-up: 36rem; /* 567px */
  --laptop-and-up: 62rem; /* 992px */

  /* Colors */
  --red: hsl(0 59 40);
  --primary: hsl(116 29 19);
  --secondary: hsl(56 49 93);
  --secondary-background: hsl(57 51 93);

  /* Font */
  --font-merriweather: 'Merriweather', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-thicker: 'Thicker, sans-serif';
  --font-thicker-upright: 'ThickerUprigth, sans-serif';

    /* Font-sizes */
  --button-font-size: calc(15/16*1rem);
  --desktop-button-font-size: calc(17/16*1rem);

      /* Font weight*/
  --font-weight-five: 500;
  --font-weight-nine: 900;

  --nav-font-size: calc(13/16*1rem);
}

body, main {
  font-family: var(--font-merriweather);
}