@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



:root{

  font-family: var(--fontRoboto), var(--fontMerriweather);

      /* Breakpoints */
  --tabletMin: 34.375rem; /* 550px */
  --laptopMin: 93.75rem; /* 1500px */
  --desktopMin: 93.75rem; /* 1500px */

  /* Colors */
  --red: hsl(0, 59, 40);
  --primary: hsl(116, 29, 19);
  --secondary: hsl(56, 49, 93);
  --secondary-background: hsl(57, 51, 93);

  /* Font */
  --fontRoboto: 'Roboto', sans-serif;
  --fontMerriweather: 'Merriweather', sans-serif;
}